<div class="w-[400px] h-[450px] p-4 m-2 border rounded-lg ">
    <div class="h-[440px] flex flex-col">
        <div tuiAppearance="floating" tuiCardLarge class="h-6/10 p-2">
            <header tuiHeader>
                <h4 tuiTitle>{{product().title}}</h4>
            </header>
                  <img [src]="product().thumbnail" alt="Sample" class="w-full h-full object-contain" />
        </div>
        <div class="h-2/10 p-2">
            <p>{{product().description}}</p>
        </div>
        <div class="h-2/10 p-2">
            <button
                (click)="addProductToCartBtnHandler()"
                class="w-full"
                appearance="primary"
                size="m"
                tuiButton
                type="button"
            >
            Add to Cart
            </button>
        </div>
    </div>
</div>

